<div class="container-md">
    <h2 class="page-header">Login</h2>

    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nome de Utilizador</label>
            <input type="text" name="username" class="form-control" placeholder="Nome de Utilizador" formControlName="username" required>
        </div>
        <div class="form-group">
            <label>Palavra-passe</label>
            <input type="password" name="password" class="form-control" placeholder="Palavra-passe" formControlName="password" required>
        </div>
        <div class="form-group">
            <span><a routerLink="/register">Ainda não possui conta? Registar agora</a></span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>