<h2 class="page-header">Criar Viagem</h2>

<form id="tripForm" [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Número da Viagem</label>
        <input min=1 type="number" name="tripNumber" class="form-control" placeholder="Número da Viagem"
            formControlName="tripNumber" required>
    </div>
    <div class="form-group">
        <label>Hora de Saída</label>
        <input type="datetime-local" name="startDateService" class="form-control" formControlName="exitTime" required>
    </div>

    <div class="form-group">
        <label>Nome da Linha</label>
        <select id="lineName" class="form-control" formControlName="line" [(ngModel)]="pickedLine"
            (ngModelChange)="getPathsFromLine()" required>
            <option></option>
            <option *ngFor="let l of lines">{{l.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Percurso</label>
        <select id="pathNumber" class="form-control" formControlName="path" [(ngModel)]="pickedPath" required>
            <option></option>
            <option *ngFor="let p of tripPaths">
                {{p.orientation}}: {{p.nodes}}
            </option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!tripForm.valid">Submeter</button>
</form>