table{
    border-collapse: collapse;
    border : 1px solid rgb(202, 202, 202);
    width: 80%;
}

th{
    padding: 8px;
}

td{
    border : 1px solid rgb(202, 202, 202);
    padding: 8px;
}

th{    
    background-color: #369;
    color: white;
    font-weight: 500;
}

input[type=text], select{
    display: inline-block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

button {
    background-color: #b6b6b6;
    border: none;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .params{
    margin-top : 20px;
    display: inline-block;
}