table{
    border-collapse: collapse;
    border : 1px solid rgb(202, 202, 202);
    width: 80%;
}

th{
    padding: 8px;
}

td{
    border : 1px solid rgb(202, 202, 202);
    padding: 8px;
}

th{ 
    background-color: #369;
    color: white;
    font-weight: 500;
}